<div class="panel panel-default">
  <div class="panel-heading">
      <h3>
        {{ poem.title }}
      </h3>
  </div>
  <div class="panel-body">{{ poem.content }}</div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-4">
          <strong>Started by {{ poem.username }}</strong>
      </div>
      <div class="col-sm-4 col-sm-offset-4">
        Created {{ poem.createdAt | date:'short' }}
      </div>
    </div>
    <div>
      <span class="info">
        Complete? {{ poem.isComplete }}
      </span>
      <span class="info">
        Hidden? {{ poem.isHidden }}
      </span>
    </div>
    <div class="buttons" *ngIf="belongsToUser()">
        <button type="button" class="btn btn-primary" (click)="onEdit()">Edit</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
  </footer>
</div>
