<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="content">Message Content</label>
      <input
        type="text"
        id="content"
        class="form-control"
        #input
        name="content"
        formControlName="content"
        required>
    </div>
    <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!myForm.valid">Save</button>
  </form>
</div>
